/* NAVBAR */
.navbar {
  background-color: #3F4449;
  padding: 0 4rem;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.link-secondary:hover {
  color: #fff;
}

.link-success:hover {
  color: #5eff2d;
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
  .logo-txt {
    display: none;
  }
}